.#*
dist
build
*.tar.gz
*.egg-info
*.py[co]
__pycache__
MANIFEST

.DS_Store
.cache
.pytest_cache
.coverage
htmlcov

repo2docker/s2i

^bin/
lib/
lib64/
share/
include/

# PyTest remnants
tests/dockerfile/legacy/._binder.Dockerfile
tests/dockerfile/legacy/apt-sources.list
tests/dockerfile/legacy/python3.frozen.yml
tests/dockerfile/legacy/root.frozen.yml

# Docs
generated/
test_file_text.txt


\.vscode/
