.#*
dist
build
*.tar.gz
*.egg-info
*.py[co]
__pycache__
MANIFEST

.DS_Store
.cache
.coverage
htmlcov

repo2docker/s2i

^bin/
lib/
lib64/
share/
include/

# Docs
generated/
test_file_text.txt

# Untracked artifacts from the conda script
repo2docker/buildpacks/conda/environment.py-3.5.yml
repo2docker/buildpacks/conda/environment.py-3.6.yml
