# Note that there is also a Pipfile for this project if you are updating this
# file do not forget to update the Pipfile accordingly
pyyaml
pytest>=4.6
wheel
pytest-cov
pre-commit
requests
mercurial>=5.2; python_version > '3.5'
hg-evolve>=10.0; python_version > '3.5'
