# Note that there is a devrequirements.txt file in this project, if you are 
# updating this Pipfile make sure to update the devrequirements.txt accordingly

[dev-packages]
pytest="*"
wheel="*"
pytest-cov="*"
PyYAML = "*"
recommonmark = "*"
alabaster = "*"
Sphinx = ">=1.4,!=1.5.4"
alabaster_jupyterhub = "*"

[packages]
repo2docker = {path=".", editable=true}
