# Note that there are a dev-requirements.txt and a docs/doc-requirements.txt
# files in this project, if you are updating this Pipfile make sure to
# update these accordingly

[dev-packages]
pytest=">=4.6"
wheel="*"
pytest-cov="*"
PyYAML = "*"
recommonmark = "*"
alabaster = "*"
Sphinx = ">=1.4,!=1.5.4"
alabaster_jupyterhub = "*"
sphinxcontrib-autoprogram = "*"

[packages]
repo2docker = {path=".", editable=true}
