img.logo {
  max-width:100%;
  height: 45px;
}

div.body p.caption {
    font-size: 1.5em;
}

h2 a.toc-backref {
	text-decoration: none;
}


.navbar-brand{
  display: flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}